<li>
	{{recipeName}}
  {{recipeUrl}}

	<button class="change-tried" data-id="{{id}}" data-newTried="{{tried}}">
		Save This Recipe
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button> 
</li>